:root {
  --min-screen-height: 1000px;
  --border-color: gray;
  --border: solid 0.1em var(--border-color);
}

.App {
  margin: 0 auto;
  max-width: 1200px;

  display: grid;
  grid-template-columns: 0.7fr 0.9fr 1.5fr 0.9fr;
  grid-template-rows: 2.75rem 3fr;
  grid-template-areas:
    'nav nav nav nav'
    'sidebar leftmenu content rightmenu';
  gap: 0.75rem 0.4rem;
}

.navigation {
  grid-area: nav;
}

.sidebar {
  grid-area: sidebar;
  min-height: var(--min-screen-height);
  background-color: lightblue;
}
.leftmenu {
  grid-area: leftmenu;
  background-color: lightgreen;
}
.content {
  grid-area: content;
  min-height: var(--min-screen-height);
  background-color: lightyellow;
}
.rightmenu {
  grid-area: rightmenu;
  background-color: gray;
}
.menu-modal {
  position: fixed;
  min-width: 500px;
  background-color: red;
  top: 4.5em;
  left: 50%;
  transform: translate(-50%);
  border: var(--border);
  border-radius: 5px;
  background-color: lightgray;
  padding: 1em;
  z-index: 1000;
}
.form-btns {
  display: grid;
  grid-template-columns: 1.7fr 1.3fr;
  grid-auto-flow: column;
}
.form-btns-left {
  grid-column: 1;
}
.form-btns-right {
  grid-column: 2;
  padding-top: 1.5em;
  margin-left: 2em;
  color: red;
}

input[type='text'],
input[type='password'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit']:hover {
  background-color: #45a049;
}
.action-btn {
  background-color: skyblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.cancel-btn {
  background-color: white;
  color: gray;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (orientation: portrait) and (max-width: 760px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-areas:
      'nav'
      'content';
  }
  .menu-modal {
    min-width: 60px;
    top: 3.5em;
    left: 0.5em;
    right: 1.5em;
    transform: translate(0%);
  }
}
